.modal-title {
  font-size: 70px;
  font-style: oblique;
  font-weight: bolder;
}
.date {
  position: absolute;
  right: 10%;
  top: 10%;
}
.modal-topic {
  padding: 10px;

  background-color: blue;
  color: white;
}
.modal-table {
  margin-bottom: 50px;
}
.button {
  width: 100%;
}
